<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
					<resource id="Magebees_Attribute::Heading" title="MageBees - Import/Export Products Attributes" sortOrder="30">
						<resource id="Magebees_Attribute::import" title="Import Attributes"  sortOrder="10" />
						<resource id="Magebees_Attribute::export" title="Export Attributes" sortOrder="20" />
					</resource>
				</resource>
            </resource>
        </resources>
    </acl>
</config>
